<mat-nav-list>

    <h2 matSubheader>External Links</h2>

    <a mat-list-item routerLinkActive="list-item-active" href="https://en.wikipedia.org/wiki/Cryptocurrency">Link 1</a>
    <a mat-list-item routerLinkActive="list-item-active" href="https://coinmarketcap.com/ro/">Link 2</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Link 3</a>
    
    <mat-divider>
    
    </mat-divider>
    
    <h2 matSubheader>Tools</h2>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        Tool1
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        Tool2
    </a>

</mat-nav-list>

